var config = {
	ci_url: 'http://build.commercetools.de',
	jobs_to_be_filtered: [/\bgrid-/],
	jobs_to_be_excluded: ["kela-saucelabs","hundetraum","heelys", "-wip", "trigger", "automation-publish-private-deb-grid"],
	remove_string_in_name: "grid-"  
}